/* 
color: #00d0ff;
color: #05ffff;
*/

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&family=Yanone+Kaffeesatz&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Nunito;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #4e9eff;
    margin-left: -6%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    color: #00d0ff;
}

.navgiton a {
    color: #4e9eff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: -1px;
    margin-top: 0;
    margin-right: 13px;
    margin-left: 20px;
    transition: 0.2s ease-in-out;
}

.navgiton a:hover {
    color: #00d0ff;
}

section {
    padding: 100px 150px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('Landscape/2pac.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3e6eff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease-in-out;
}

.main-btn:hover {
    background-color: #0e49f6;
    transform: scale(1.1);
}

.img__logo {
    width: 30px;
    margin-right: 30px;
    transition: 0.7s ease-in-out;
}

.img__logo:hover {
    transform: scale(1.5);
}

.title {
    display: flex;
    justify-content: center;
    color: #3e6eff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease-in-out;
    display: inline-block;
    width: 30%;
}

.card:hover {
    transform: scale(1.1);
}

.fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #3e6eff;
    margin-left: 31px;
    font-size: 8em;
    margin-left: 80px;
}

.faskn {
    margin-left: 50px;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3e6eff;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    color: #555;
}

.projects {
    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 22em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease-in-out;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-image img {
    width: 100%;
    height: 200px;
    transition: 0.7s ease-in-out;
}

.project-card:hover .project-image {
    opacity: 0.8;
}

.project-info {
    padding: 1em;
    color: #000;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    color: #000;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3e6eff;
}

.more-details:hover {
    color: #601cfc;
}

.card_1 {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin-left: 115px;
    margin-top: 25px;
    transition: 0.7s ease-in-out;
    display: inline-block;
}

.card_1:hover {
    transform: scale(1.1);
}

.card_1 .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #3e6eff;
    margin-left: 31px;
    font-size: 5em;
    margin-left: 105px;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    color: #000;
    font-size: 1.5em;
}

.footer .ran {
    color: #0b205f;
    font-size: 10px;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3e6eff;
}